@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;

$font-stack: Helvetica, Arial, sans-serif;
$nav-bgcolor: #DE162B;
$nav-hlcolor: #0052A5;
$white: #FFFFFF;

body {
   font: 100% $font-stack;
}

nav {

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	 color: #FFFFFF;
    background-color: #0052A5;
}

}

header {
 h1, p {
 text-align: center;
 color: $nav-bgcolor;
 }
 
 }