@import '../node_modules/foundation-sites/scss/foundation';
@include foundation-everything;

$font-stack:      Helvetica, Arial, sans-serif;
$nav-bgcolor: 		#DE162B;
$nav-hlcolor: 		#0052A5;
$white:				#FFFFFF;

body {
   font:          100% $font-stack;
   color:         $primary-color;
}

	ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: $nav-bgcolor;
}

li {
    float: left;
}

li a {
    display: block;
    color: $white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: $nav-hlcolor;
}
header {
 h1, p {
 text-align: center;
 color: $nav-bgcolor;
 }
 
 }
